<h1> Can you find Waldo? </h1>

<p>Instructions here</p>

<form action="{% url 'waldo:validate' %}" method="post">
{% csrf_token %}

        <p>
        <label for="first_name">First Name:</label>
        <input id="first_name" type="text" name="first_name"
        maxlength="20" />
        </p>

        <p>
        <label for="last_name">Last Name:</label>
        <input id="last_name" type="text" name="last_name"
        maxlength="30" />
        </p>

        <p>
        <label for="gender">Gender:</label>
        <input id="gender" type="radio" name="gender" value="M" checked/> Male
        <input type="radio" name="gender" value="F" /> Female
        </p>

        <p>
        <label for="age">Age:</label>
        <input id="age" type="number" name="age" min="0" max="120" />
        </p>
        
        <input type="submit" value="Begin!" />
</form> 
